[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
Flask = "*"
Flask-SocketIO = "*"
flake8 = "*"
torch = "*"
tensorboard = "*"

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.11"
