[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# NOTE: Pipfile.lock needs to be regenerated after these changes
[packages]
numpy = "*"
Flask = "*"
Flask-SocketIO = "*"
torch = "*"
tensorboard = "*"

[dev-packages]
black = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"

[requires]
python_version = "3.11"
